:root {
    --atomSyntaxGutter: #1D2026;
    --atomSyntaxForeground: #252931;
    --atomSyntaxBackground_15Darker: #22252C;
    --atomSyntaxBackground: #282C34;
    --atomSyntaxBackground_15Lighter: #484C52;
    --atomSyntaxBackground_30Lighter: #696B71;
    --atomDefaultTextLightened: #C6C9CF;
    --atomSyntaxGuide: #CCCCCC;
    --atomWhite: #FFFFFF;
    --atomPurple_30Darker: #853C9B;
    --atomPurple_15Darker: #A249BC;
    --atomPurpleKeywords: #BE56DD;
    --atomPurple_15Lighter: #C86FE2;
    --atomPurple_30Lighter: #CE8CE2;
    --atomBlue_15Darker: #3587CB;
    --atomBlueFunctions: #3E9FEF;
    --atomBlue_15Lighter: #5BADF1;
    --atomCyan_15Darker: #3098A5;
    --atomCyan: #38B3C2;
    --atomCyan_15Lighter: #56BECB;
    --atomGreen_15Darker: #73A64E;
    --atomGreenStrings: #87C35C;
    --atomGreen_15Lighter: #99CC74;
    --atomGold_15Darker: #CA870C;
    --atomGold: #E5B459;
    --atomGold_15Lighter: #E9BF72;
    --atomOrange_15Darker: #BF8043;
    --atomOrange: #E1964F;
    --atomOrange_15Lighter: #E6A669;
    --atomRose_15Darker: #BE3F49;
    --atomRoseObjects: #ED5B66;
    --atomRose_15Lighter: #E5656F;
    --atomRed_15Darker: #AA2D21;
    --atomRed: #CE3F32;
    --atomRed_15Lighter: #D05347;
    --atomSyntaxAccent_15Darker: #4676D9;
    --atomSyntaxAccent: #528BFF;
    --atomSyntaxAccent_15Lighter: #6C9CFF;
}